<!DOCTYPE html>
<html>
  <head>
    <title>Express To-Do</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Express To-Do</h1>
    <nav>
      <a href="/todos">To-Do List</a>
    </nav>